# Ignore by file extension
*.assets
*.cache
*.class
*.com
*.dgspec
*.dll
*.dll.config
*.pdb
*.props
*.suo
*.targets

# Ignore IDE specific directories
.idea/
.vs/
.vscode/

# Ignore misc. directories
DotnetCat/obj/Debug/
