**/*.aps
**/*.assets
**/*.bak
**/*.bak.*
**/*.cache
**/*.class
**/*.com
**/*.dgspec
**/*.dll
**/*.dll.config
**/*.idb
**/*.ifc
**/*.ifcast
**/*.iobj
**/*.ipdb
**/*.log
**/*.obj
**/*.old
**/*.pdb
**/*.recipe
**/*.sarif
**/*.suo
**/*.targets
**/*.tlog
**/*.user

**/launchSettings.json

**/*.old*/
**/*.bak/
**/*.bak.*/
**/.atom/
**/.dist/
**/.idea/
**/.vs/
**/.vscode/
**/TestResults/
