<?xml version="1.0" encoding="utf-8"?>
<!--
*  Linux-x64 self contained standalone executable profile
*
*  Config   :: Linux
*  Platform :: x64
*  RID      :: linux-x64
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Linux</Configuration>
    <Platform>x64</Platform>
    <PublishDir>bin/Release/Linux/x64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishSingleFile>True</PublishSingleFile>
    <PublishTrimmed>True</PublishTrimmed>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </PropertyGroup>
</Project>
