<?xml version="1.0" encoding="utf-8"?>
<!--
Linux-arm64 standalone executable profile

 Config   :: ARM64
 Platform :: AnyCPU
 RID      :: linux-arm64
-->
<Project ToolsVersion="4.0"
         xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <Configuration>ARM64</Configuration>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <Platform>x64</Platform>
        <PublishDir>bin/Release/Linux/arm64</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <TargetFramework>net5.0</TargetFramework>
    </PropertyGroup>
</Project>
