<?xml version="1.0" encoding="utf-8"?>
<!--
*  Windows-x64 standalone executable profile
*
*  Config   :: Release
*  Platform :: x64
*  RID      :: win-x64
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PublishDir>bin/Release/Windows/x64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishReadyToRun>true</PublishReadyToRun>
    <PublishTrimmed>true</PublishTrimmed>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <TargetFramework>netcoreapp3.1</TargetFramework>
  </PropertyGroup>
</Project>
