<?xml version="1.0" encoding="utf-8"?>
<!--
 Linux-ARM64 standalone executable publish profile.
-->
<Project>
    <PropertyGroup>
        <Configuration>ARM64</Configuration>
        <DebugSymbols>false</DebugSymbols>
        <DebugType>None</DebugType>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <Optimize>true</Optimize>
        <Platform>AnyCPU</Platform>
        <PublishDir>bin/Publish/linux-arm64</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <PublishReadyToRun>true</PublishReadyToRun>
        <PublishRelease>true</PublishRelease>
        <PublishSelfContained>true</PublishSelfContained>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <TargetFramework>net8.0</TargetFramework>
        <_TargetId>Folder</_TargetId>
    </PropertyGroup>
</Project>
