<?xml version="1.0" encoding="utf-8"?>
<!--
 Linux-x64 standalone executable publish profile.
-->
<Project>
    <PropertyGroup>
        <Configuration>Linux</Configuration>
        <DebugSymbols>false</DebugSymbols>
        <DebugType>None</DebugType>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <Optimize>true</Optimize>
        <Platform>x64</Platform>
        <PublishDir>bin/Publish/linux-x64</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <PublishReadyToRun>true</PublishReadyToRun>
        <PublishRelease>true</PublishRelease>
        <PublishSelfContained>true</PublishSelfContained>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <TargetFramework>net9.0</TargetFramework>
        <_TargetId>Folder</_TargetId>
    </PropertyGroup>
</Project>
