<?xml version="1.0" encoding="utf-8"?>
<!--
 Linux-arm64 standalone executable profile
 =======================
 Config   :: ARM64
 Platform :: AnyCPU
 RID      :: linux-arm64
-->
<Project>
    <PropertyGroup>
        <Configuration>ARM64</Configuration>
        <DebugSymbols>false</DebugSymbols>
        <DebugType>none</DebugType>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <Optimize>true</Optimize>
        <Platform>Any CPU</Platform>
        <PublishDir>bin/Release/Publish/linux-arm64</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <PublishReadyToRun>true</PublishReadyToRun>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <RuntimeIdentifier>linux-arm64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <TargetFramework>net8.0</TargetFramework>
        <_TargetId>Folder</_TargetId>
    </PropertyGroup>
</Project>
