<?xml version="1.0" encoding="utf-8"?>
<!--
 Linux-x64 standalone executable profile
 =====================
 Config   :: Linux
 Platform :: x64
 RID      :: linux-x64 -->
<Project>
    <PropertyGroup>
        <Configuration>Linux</Configuration>
        <DebugSymbols>false</DebugSymbols>
        <DebugType>none</DebugType>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <Platform>x64</Platform>
        <PublishDir>bin/Release/Publish/linux-x64</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <TargetFramework>net6.0</TargetFramework>
    </PropertyGroup>
</Project>
