<?xml version="1.0" encoding="utf-8"?>
<!--
 Windows-x86 standalone executable profile
 ===================
 Config   :: Release
 Platform :: x86
 RID      :: win-x86
-->
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <DebugSymbols>false</DebugSymbols>
        <DebugType>none</DebugType>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <Platform>x86</Platform>
        <PublishDir>bin/Release/Publish/win-x86</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <PublishReadyToRun>true</PublishReadyToRun>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <RuntimeIdentifier>win-x86</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <TargetFramework>net6.0</TargetFramework>
    </PropertyGroup>
</Project>
