<?xml version="1.0" encoding="utf-8"?>
<!--
Windows-x86 standalone executable profile

 Config   :: Release
 Platform :: x86
 RID      :: win-x86
-->
<Project ToolsVersion="4.0"
         xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
        <Platform>x86</Platform>
        <PublishDir>bin/Release/Windows/x86</PublishDir>
        <PublishProtocol>FileSystem</PublishProtocol>
        <PublishReadyToRun>true</PublishReadyToRun>
        <PublishSingleFile>true</PublishSingleFile>
        <PublishTrimmed>true</PublishTrimmed>
        <RuntimeIdentifier>win-x86</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <TargetFramework>net6.0</TargetFramework>
    </PropertyGroup>
</Project>
